/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after,
.sample#postnormal .text:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
body {
    background: #fff;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
.sample#thin {
    background: #96461A;
padding: 140px 0;
width: 100%;
height: 120px;
}
.sample#thin .text {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    width: 800px;
}
.sample#thin li {
    color: #fff;
    font: 100 92px/1 "lato";
}
.sample#thin li .kern {
    margin: 0 0 0 6px
}
.sample#thin li .qzf {
    font-size: 66px
}
.sample#nietzsche {
    padding: 70px 0 0 0;
    background: #96461A;
    position: fixed;
top: 0px;
width: 100%;
}
.sample#nietzsche .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
    height: 70px;
}
.sample#nietzsche h2 {
    border-top: 1px solid #fff;
    color: #fff;
    /*margin: 0 0 20px 0;*/
    text-align: center;
    text-transform: uppercase;
}
.sample#nietzsche h2 a {
    background: #96461A;
    padding: 0 25px;
    position: relative;
    top: -40px;
    font-size: 80px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}
.sample#nietzsche h2 a:hover {
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}
.sample#coloum {
    background: #fff;
    /*padding: 60px 0;*/
}
.sample#coloum .text {
    margin: 160px auto;
    padding: 0 20px;
    text-align: center;
    width: 800px;
    height: 70%;
}
.sample#coloum #column-1 {
	width: 100%;
	height: 420px;
	float: left;
	background: white;
    margin: 0;
    padding: 0;
}
.sample#coloum #column-2 {
	width: 214px;
	height: 190px;
	float: left;
	background: yellow;
	margin: 0 0 19px 0;
	padding: 10px 20px 10px 20px;
}
.sample#coloum #column-3 {
	width: 214px;
	height: 190px;
	float: left;
	background: green;
	margin: 0 0px 19px 19px;
	padding: 10px 20px 10px 20px;
}
.clearfix:after {
  	content: "";
	display: table;
  	clear: both;
}
